@page "/login"
@using Proyecto2024.Client.Autorizacion
@using Proyecto2024.Shared.DTO
@inject IHttpServicio http
@inject NavigationManager navigationManager
@inject IJSRuntime js
@inject ILoginService loginService

<h3>Login</h3>
<EditForm Model="userInfo" OnValidSubmit="Loguear">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <InputText id="email" class="form-control" @bind-Value="userInfo.Email" />
        <ValidationMessage For="@(() => userInfo.Email)" />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="userInfo.Password" />
        <ValidationMessage For="@(() => userInfo.Password)" />
    </div>
    <button type="submit" class="btn btn-primary">Loguear</button>
</EditForm>

@code {
    private UserInfoDTO userInfo = new UserInfoDTO();

    private async Task Loguear()
    {
        var httpRespuesta = await http.Post<UserInfoDTO, UserTokenDTO>("usuarios/login", userInfo);
        if (httpRespuesta.Error)
        {
            var msg = await httpRespuesta.ObtenerError();
            await js.Confirmar(msg);
        }
        else
        {
            var userToken = httpRespuesta.Respuesta as UserTokenDTO;
            if (userToken != null)
            {
                await loginService.Login(userToken);
                navigationManager.NavigateTo("/");
            }
            else
            {
                await js.Confirmar("No se pudo obtener el token");
            }
        }
    }
}